@charset "UTF-8";
@import url(font-awesome.min.css);
@import url(bootstrap.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");
@import url("main.min.css");

/* unvisited link */

a:link {
  color: orange;
  text-decoration: underline;
}

a:hover {
  color: #ffd27f;
  text-decoration: underline;
}

/* visited link */

a:visited {
  color: #b27300;
  text-decoration: underline;
}

#navWrapper {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-perspective: 1000px;
  -webkit-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
  position: relative;
  min-height: 100%;
  min-width: 100%;
  z-index: 2;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 20%);
}

#wrapper1 {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-perspective: 1000px;
  -webkit-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
  position: relative;
  /* min-height: 100vh; */
  padding: 1.5em;
  z-index: 2;
}

#wrapper1 > * {
  z-index: 1;
}

#wrapper1:before {
  content: '';
  display: block;
}

@media screen and (max-width: 360px) {
  #wrapper1 {
    padding: 0.75em;
  }
}

body.is-ie #wrapper1 {
  height: 100%;
}

#pagesTitleDiv {
  -moz-align-self: -moz-flex-end;
  -webkit-align-self: -webkit-flex-end;
  -ms-align-self: -ms-flex-end;
  align-self: flex-end;
  padding: 1.5em 0 0 0;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  cursor: default;
  text-align: center;
  position: absolute;
  top: -6.5em;
}

@media screen and (max-width: 480px) {
  #pagesTitleDiv {
    top: -7.5em;
  }
}


/* Main */

#main2 {
  position: relative;
  max-width: 100%;
  padding: 1em 2em 0em 2em;
  background: #ffffff;
  border-radius: .5in;
  cursor: default;
  opacity: 1;
  text-align: center;
  -moz-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -moz-transition: opacity 1s ease, -moz-transform 1s ease;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  -ms-transition: opacity 1s ease, -ms-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
}

@media screen and (max-width: 480px) {
  #main2 {
    min-width: 90%;
	margin-bottom: 2em;
    padding: 4em 2em 2.5em 2em;
  }
}

body.is-loading #main2 {
  opacity: 0;
  -moz-transform: rotateX(15deg);
  -webkit-transform: rotateX(15deg);
  -ms-transform: rotateX(15deg);
  transform: rotateX(15deg);
}

.mainBody {
  position: relative;
  display: inline-block;
  min-height: 20em;
  max-width: 100%;
  min-width: 40em;
  width: 70%;
  padding: 2em 2em 1em 2em;
  margin: 0 auto;
  background: #ffffff;
  border-radius: .25in;
  cursor: default;
  text-align: center;
  opacity: 0.95;
  word-wrap: break-word;
  -moz-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transition: rotateX(0deg);
  top: 3em;
  float: center;
  -moz-transition: transform 1s ease;
  -webkit-transition: transform 1s ease;
  -ms-transition: transform 1s ease;
  transition: transform 1s ease, opacity 1s ease;
}

body.is-loading .mainBody {
  opacity: 0;
}

.mainBody p {
  text-align: left;
  text-indent: 2em;
}

@media screen and (max-width: 640px) {
  .mainBody {
    max-width: 100%;
    min-width: 100%;
  }

  .right{
	  float: none !important;
  }

  .left{
	  float: none !important;
  }
}

ul.icons3 {
  cursor: default;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.icons3 li {
  display: inline-block;
  padding: 0;
  margin: 0 .25em;
}

ul.icons3 li a {
  text-decoration: none;
  position: relative;
  display: block;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  border: solid 1px #c8cccf;
  line-height: 1.9em;
  overflow: hidden;
  text-align: center;
  text-indent: 2.75em;
  white-space: nowrap;
  box-shadow: 2px 3px 5px pink;
}

ul.icons3 li a:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

ul.icons3 li a:before {
  color: #ffffff;
  text-shadow: 1.25px 0px 0px #c8cccf, -1.25px 0px 0px #c8cccf, 0px 1.25px 0px #c8cccf, 0px -1.25px 0px #c8cccf;
}

ul.icons3 li a:hover:before {
  text-shadow: 1.25px 0px 0px #7f0000, -1.25px 0px 0px #7f0000, 0px 1.25px 0px #7f0000, 0px -1.25px 0px #7f0000;
}

ul.icons3 li a:before {
  position: absolute;
  top: 0;
  left: .05em;
  width: inherit;
  height: inherit;
  font-size: 1.75rem;
  line-height: inherit;
  text-indent: 0;
}

ul.icons3 li a:hover {
  border-color: #ffffff;
  box-shadow: 2px 3px 5px white;
  top: .05em;
  left: .05em;
  transition: all 1s ease;
}

@media screen and (max-width: 480px) {
  ul.icons3 li a:before {
    font-size: 1rem;
  }
}


/* Footer */

#footer1 {
  -moz-align-self: -moz-flex-end;
  -webkit-align-self: -webkit-flex-end;
  -ms-align-self: -ms-flex-end;
  align-self: flex-end;
  width: 100%;
  padding: 1.5em 0 0 0;
  color: rgba(255, 255, 255, 0.75);
  cursor: default;
  text-align: center;
  margin-top: 2em;
}

#footer1 .footerList {
  border-left: 0;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  list-style: none;
}

#footer1 .footerList li {
  display: inline-block;
  margin: 0 0 0 0.45em;
  padding: 0 0 0 0.85em;
  border-left: solid 1px rgba(255, 255, 255, 0.5);
  line-height: 1;
}

#footer1 .footerList li:first-child {
  border-left: 0;
}

.image {
  overflow: hidden;
  background-size: contain;
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  width: auto;
  max-width: 80%;
  max-height: 80%;
}

.image1 {
  box-shadow: 0px 0px 0px 5px #000;
  overflow: hidden;
  background-size: contain;
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  width: auto;
  max-width: 80%;
  max-height: 80%;
  display: inline-block;
  float: center;
  display: block;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.darkButton {
  color: grey !important;
  border: solid 1px #667179;
}

#small.input[type="radio"],
#medium.input[type="radio"],
#big.input[type="radio"] {
  z-index: -1;
}

.collapsingDiv640{
 display: inline-flex;
 margin-bottom:1.5em;
}

@media screen and (max-width: 640px) {
  .collapsingDiv640 {
    display: block;
  }
}

.collapsingDiv1200{
 display: inline-flex;
}


@media screen and (max-width: 1200px) {
  .collapsingDiv1200 {
    display: block;
  }
}

.smallMarg{
	margin-right: 2em;
}

.header{
	font-weight: 500;
}

.textPic{
	margin-left: 2em;
	margin-right: 2.5em;
	margin-top: .75em;
	margin-bottom: 1em;
}

@media screen and (max-width: 640px) {
  .textPic {
    margin: 0 0 0 0;
  }
}

.gif{
	position: absolute;
	top: 0px;
	left: 0px;
	width:15em;
	height:15em;
	margin-left: 0em;
}

 .overlapImages {
    position:relative;
	margin: 1em 1em 1em 1em;
 }

@media screen and (max-width: 1200px) {
  .overlapImages {
	position:relative;
    margin: auto !important;
  }
}

.resume-wrapper {
  background: #525659;
  border-radius: 20px;
  padding: 60px 0;
  margin-top: 1em;
}

.resume {
  height: 1100px;
  width: 850px;
}

.below-desktop {
  display: none;
}

@media screen and (max-width: 1400px) {
  .resume-wrapper {
    display: none;
  }
  p.below-desktop {
    display: block;
    margin-top: 2em;
    text-align: center;
    text-indent: 0;
  }
}

.center-dl {
  margin-top: 20px;
}

/* Account styling */
.account-wrapper {
  top: 0;
  right: 1vw;
  position: absolute;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 5px 5px;
  z-index: 3;
  box-shadow: 0px 2px 10px 2px black;
  min-width: 50px;
  min-height: 40px;
}

#account-info {
  width: 100%;
}

#account-info,
#sign-in {
  display: none;
}

#sign-in,
#sign-out {
  color: grey !important;
}

.account-flyout {
  display: none;
  padding: 0 25px 25px 25px;
}

#account-info:hover .account-flyout {
  display: block;
}

.account-image {
  border-radius: 100%;
  width: 25px;
  display: block;
  margin: 10px auto;
}

.account-email,
.account-name {
  font-size: 12px;
  letter-spacing: 0;
  text-align: center;
}

.account-email {
  margin-bottom: 10px;
}

a.btn {
  color: lightseagreen;
}

.ft-sz-60 {
  font-size: 60px;
}

#show-add-form {
  position: fixed;
  z-index: 10;
  right: 0;
  bottom: 0;
  width: 2em;
  height: 2em;
}

#show-add-form i {
  position: absolute;
  bottom: 1vw;
  right: 1vw;
}

#show-add-form .fa-plus-circle {
  color: lightseagreen;
}

#add-item .f-row {
  margin-bottom: 10px;
}

/* List item css */
.list-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightblue;
  margin: 5px 0;
  border-radius: 5px;
  letter-spacing: .1em;
  height: 40px;
}

.list-item[data-enabled="false"] {
  background: gainsboro;
  opacity: .5;
  order: 1;
}

.list-item[data-enabled="false"] .item-name,
.list-item[data-enabled="false"] .quantity {
  text-decoration: line-through;
}

.list-item .toggle-item::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

.list-item[data-enabled="false"] .toggle-item::before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.remove-item {
  margin-left: auto;
  margin-right: min(3%, 20px);
  height: 20px;
  width: 20px;
  line-height: 1;
  padding: 0;
  border: none;
  font-weight: bold;
  color: black;
}

.toggle-item {
  height: 20px;
  width: 20px;
  background: white;
  margin-left: min(3%, 20px);
  margin-right: auto;
  position: relative;
  cursor: pointer;
}

.quantity {
  margin-left: 20px;
  font-size: 80%;
  letter-spacing: 0.6px;
}

.search-field {
  height: 30px;
  margin-bottom: 10px;
  font-size: 16px;
}

.add-tag-row {
  display: flex;
}

#add-item #item-tags {
  margin: 0;
  border-radius: .25rem 0 0 .25rem;
}

.add-tag-btn {
  height: auto;
  border-radius: 0 .25rem .25rem 0;
}

.item-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.item-tags .tag {
  background-color: #e8e2e2;
  border-radius: .25rem;
  padding: 5px;
  margin: 0 10px 10px 0;
  line-height: 1;
  letter-spacing: normal;
}

.tag-remove {
  height: 15px;
  width: 15px;
  background-color: #9e9b9b;
  border-radius: 100%;
  margin-left: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
}

.top-hr {
  border-bottom: 2px groove threedface;
}

.tag-filter-toggle {
  text-align: left;
  bottom: -.5em;
  position: relative;
  padding-left: 1em;
  line-height: 1em;
  cursor: pointer;
}

.tag-filter-toggle .tags-toggle-text::after {
  content: '\f107';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  letter-spacing: normal;
  margin-left: 10px;
}

.tag-filter-toggle.open .tags-toggle-text::after {
  transform: rotate(180deg);
}

.tags-toggle-text {
  background: white;
  padding: 0 5px;
}

.tag-filters {
  display: flex;
  flex-wrap: wrap;
  line-height: 1;
  padding: 1em;
  border-right: 2px groove threedface;
  border-bottom: 2px groove threedface;
  border-left: 2px groove threedface;
}

.tag-filter {
  padding: 5px;
  border-radius: .25em;
  margin: 0 10px 10px 0;
  font-weight: 900;
  letter-spacing: normal;
  font-family: monospace;
  background-color: #ebeeb3;
  color: #5b2f31;
  cursor: pointer;
}

.tag-filter.active::after {
  content: '\f058';
  margin-left: 5px;
  font-family: FontAwesome;`
}
